{% extends "templates/main.html" %}
{% block scripts %}
<script type="text/javascript">

$.getScripts = function (files){
    var queue = $.Deferred().resolve();
    $.ajaxSetup({
        cache: true
    });
    $.each(files, function (i, src){
        queue = queue.pipe(function (){
            return  $.getScripts[src] || ($.getScripts[src] = $.getScript(src));
        });
    });
    return  queue;
}

var jsList = [
    "/static/js/reconnecting-websocket.js", 
    "/static/js/wsInit.js", 
    "/static/js/wsSendMessage.js", 
    "/static/js/tagreplace.js",
    "/static/js/admin.js", 
    "/static/js/cookie.js", 
    "/static/js/time.js", 
    "/static/js/admin_ban.js",
    "/static/js/admin_queue.js", 
    "/static/js/admin_users.js",
    "/static/js/admin_wsOnMessage.js"
];

$.getScripts(jsList);

</script>
{% end %}
{% block header %}
    <form class="navbar-form" role="search">
        <div class="form-group">
            <input type="password" class="form-control" name="adminkey" id="adminkey" placeholder="AdminKey" onkeypress="if(event.keyCode==13){ return false;}"/>
        </div>
    </form>
{% end %}
{% block content %}
{% import datetime %}
{% import re %}
{% import ast %}
{% import textwrap %}

<div class="row">
    <div class="col-md-3">
        <button class="btn btn-success btn-block" id="queueButton" onclick="showPage('queueRow', this.id);">Очередь</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-block" id="usersButton" onclick="showPage('usersRow', this.id);">Пользователи</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-block" id="banButton" onclick="showPage('banRow', this.id);">Бан</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-block" id="sendButton" onclick="showPage('sendRow', this.id);">Рассылка</button>
    </div>
</div>

<div class="row" id="queueRow">
    <div class="row">
        <div class="col-md-12" id="queue"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success btn-block" name="next" onclick="videoNext();">Следующий трек</button>
        </div>
    </div>
</div>

<div class="row" id="usersRow">
    <div class=row>
        <div class="col-md-12" id="users"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success btn-block" name="getUsers" onclick="getUsers();">Обновить список пользователей</button>
        </div>
    </div>
</div>

<div class="row" id="banRow">
    <div class=row>
        <div class="col-md-12" id="ban"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success btn-block" name="getUsers" onclick="getBan();">Обновить список забаненных</button>
        </div>
    </div>
</div>

<div class="row" id="sendRow">
SEND
</div>

{% end %}
