{% extends "templates/main.html" %}
{% block content%}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-center">
            <img src="/static/img/logo.png" width="150"/>
        </p>
        <p>
        yumRadio (<b>Y</b>ouTube <b>u</b>ser <b>m</b>edia <b>Radio</b>) - небольшой проект по созданию аналога радиостанций, треклист которых составляют сами пользователи из размещенных в YouTube композиций. Проект находится в стадии глубокой беты, так что может работать не так, как от него ожидается.  Проект не пытается копировать сервисы <a href="https://plug.dj">plug.dj</a>, <a href="https://www.dubtrack.fm">www.dubtrack.fm</a> и т.д. Более подробно о проекте можно узнать на <a href="https://github.com/alozovskoy/yumRadio">его GitHub-страничке</a>.
        </p>
        <p>
        Авторизоваться можно при помощи учетной записи Google, вы будете перенаправлены на страницу подтверждения авторизации после нажатия на кнопку входа. Никакие ваши учетные данные не будут храниться - вашим идентификатором является хэш, генерируемый на основе id в Google, сам по себе он обезличен и не позволяет получить информацию о вашем Google-профиле.
        </p>
        <p>
        Автор проекта не несет никакой ответственности за предлагаемые пользователями треки, за их сообщения в чате и т.д. Проект подразумевает анонимное использование, то есть идентифицировать пользователя по нику в чате не получится. Тем не менее, постарайтесь не семенить и не шокировать других участников своими музыкальными вкусами. Администрация проекта оставляет за собой право в любой момент без объяснения причины заблокировать вашу сессию на проекте или иным способом ограничить доступ к yumRadio.
        </p>
        <p>
        При входе вы соглашаетесь со всем вышесказанным.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-block btn-success" onclick='window.location.replace("{{target}}");'>ВОЙТИ</button>
    </div>
</div>
{% end %}

